<!--===========Nav Bar=================-->
<header>
  <section class="nav-bar">

    <div class="logo"><a href="#"><img src="./assets/images/jsmplc.jpg" style="width: 80px; height: 80px">
    </a>
      JS LAND PLC
    </div>

    <ul class="menu">
      <li><a href="/about-us">about us</a></li>
      <li><a href="/our-project">our project</a></li>
      <li><a href="/investors-relations">investors relations</a></li>
      <li><a href="/news">news</a></li>
      <li><a href="/gallery">gallery</a></li>
      <li><a href="/contact-us">contact us</a></li>
    </ul>

  </section>
</header>
